/* Dashboard Styles */

.width-restriction{
    width: 960px;
}

#main{
    margin: 0 auto;
}


#leftContainer{
    float: left;
    width: 45%
}

#rightContainer{
    float: right;
    width: 45%;
}

#mapContainer {
    height: 380px;
}

#header{
    background-color: #353c45;
    color: #fff;
    padding: 10px;
}